body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-group input {
	margin-bottom: 10px;
}

#img-comp {
	margin-top: 105px
}

.navbar-fixed-top {
	position: absolute;!important
}

.form-group {
	margin-right: 20px;
}